*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #edf2c5;
}
.layout{
    width: 1260px;
    height: 880px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}
h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 0.82px; 
    color: #778a50;
    font-family: "Arial Black";
}
.login-bar{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    margin:0px;
}
.imgbtn{
    height: 25px;
    width: 25px;
    margin: 5px;
}
.div_line {
    height: 25px;
    border-right: 1px solid #778a50;
    margin: 5px;
}
.btn{
    color:#778a50;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #778a50;
    border-radius: 3px;
    height: 25px;
    width: auto;
    margin: 5px;
    padding: 3px 5px;
}
.nav_box{
    background-color: #778a50;
    width: 940px;
    height: 44px;
    border-radius: 3px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.nav_box span{
    margin: 30px;
    font-size: 16px;
    font-weight: 900;
    color: #edf2c5;
    background-color: #778a50;
}
.mainpumpkin{
    width: 100%;
    margin-bottom: 15px;
}
.lowerpart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.part{
    width: 445px;
    margin-bottom:35px ;
}
.titlebox{
    background-color: #778a50;
    width: 444px;
    height: 45px;
    border-radius: 3px;
    margin: 15px auto;
    display: flex;
    align-items: center;
}
.titlebox span{
    margin: 30px;
    font-size: 16px;
    font-weight: 900;
    color: #edf2c5;
    background-color: #778a50;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 140px;
}
.contactline{
    font-size: 12px;
    line-height: 1.25;
    height: auto;
    width:auto;
    padding: 15px;
    color: #7d7d7d;
    background-color: #f7fbda;
    border-radius: 3px;
}
.p1{
    margin: 0 0 15px;
    background-color: #f7fbda;
    line-height: 1.35;
}
.hrztline{
    width: 414px;
    border-bottom: 1px solid #7d7d7d;
    margin: 15px 0;
}
.p2{
    margin: 15px 217px 0 0;
    background-color: #f7fbda;
    line-height: 1.35;
}

.footer{
    background-color: #778a50;
    color: #edf2c5;
    font-size: 12px;
    text-align: center;
    padding-top: 30px;
    height: 60px;
}